[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pypi"

[packages]
"pyqt5-tools" = "*"
"pyside2" = "*"
pymysql = "*"
pyinstaller = "*"

[dev-packages]

[requires]
python_version = "3.7"
